.theme_light {
  --bg-color: rgb(255, 241, 247);
  --title-color: rgb(255, 194, 230);
  --subheading-color: rgb(53, 52, 48);
  --accent-color: rgb(255, 141, 203);
  --nav-color: rgb(53, 52, 48);
  --nav-hover-color: rgba(50, 49, 45, 0.4);
  --text-color: rgb(53, 52, 48);
  --bg-image: url(../images/cover-image-light.png);
}

.theme_light .header__theme-dark-decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: rgb(255, 241, 247);
    --title-color: rgb(255, 194, 230);
    --subheading-color: rgb(53, 52, 48);
    --accent-color: rgb(255, 141, 203);
    --nav-color: rgb(53, 52, 48);
    --nav-hover-color: rgba(50, 49, 45, 0.4);
    --text-color: rgb(53, 52, 48);
    --bg-image: url(../images/cover-image-light.png);
  }

  .header__theme-dark-decoration {
    display: none;
  }
}
